# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Sea Garbage Monsters.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Sea Garbage Monsters\.idea\.idea.Sea Garbage Monsters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
